<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Upload Credit Card Statement PDF</h1>
    <form action="/upload" enctype="multipart/form-data" method="post">
        <input type="file" name="pdfFile" accept=".pdf" required>
        <button type="submit">Upload</button>
    </form>
</body>

</html>